@{
    ViewData["Title"] = "Datos Personales";
}
<h1>@ViewData["Title"]</h1>

<p>Esto es una vista con mis datos Personales</p>
<h4 class="text-color">Esto es obra de: Marco Antonio Alviter</h4>
<h4 class="text-color">Tengo: 22 anios</h4>
<h4 class="text-color">Mi correo es: 20183ti00@utez.edu.mx</h4>
<h4 class="text-color">Este es mi Telefono: 777-522-3239</h4>